<table width="800px" align="center">
    <tr>
        <td align="center">
            <h1>ELTON JEAN DA SILVA</h1>
            <p><i>Analista e desenvolvedor de sistemas</i></p>
        </td>
    <tr>
    <tr>
        <td>                        
            <dl>
                <dt><b>INFORMAÇÕES PESSOAIS</b></dt>
                <dd>
                    <ul type="circle">
                        <li>Nascido em 17 de janeiro de 1993 - 29 anos</li>
                        <li>Estado civil: solteiro</li>
                        <li>Natural de Joinville/SC</li>
                        <li>Residindo em Curitiba/PR</li>
                        <li>Contato: (41) 9 96603832</li>
                        <li>E-mail: eltonjeansilva@gmail.com</li>
                    </ul>
                </dd>
                <dt><b>OBJETIVO</b></dt>
                <dd>
                    <ul type="circle">
                        <li>Busco recolocação em oportunidades para desenvolvedor full stack rails && full cycle.</li>
                    </ul>
                </dd>

                <dt><b>RESUMO DE QUALIFICAÇÕES E EXPERIÊNCIAS</b></dt>
                <dd>
                    <ul type="circle">
                        <li><p>Multidisciplinar, hábil, proativo, versátil, responsável, atencioso, detalhista e facilitador.</p></li>
                        <li><p>Análise, desenvolvimento, integração, suporte, versionamento e lançamento de projetos de diversos portes.</p></li>
                        <li><p>Participação na abordagem ao cliente, auxílio no levantamento de requisitos, identificação de casos de uso e soluções de sistemas.</p></li>
                        <li><p>Análise técnica e testes funcionais para viabilizar e/ou confirmar regras e processos sistemáticos.</p></li>
                        <li><p>Negociação de escopo e cronograma buscando e provendo informações pertinentes à tomada de decisões.</p></li>
                        <li><p>Participação na implantação de projetos e processos, criação de tutoriais e treinamentos planejados conforme necessidades e diretivas da empresa.</p></li>
                        <li align="justify"><p>Experiência com programação orientada a objetos, documentação UML, padrão de desenvolvimento de software orientado ao domínio (DDD), tecnologias AWS como Lambda Functions com python, RDS, repositório S3, deploy com Elastic Beanstalk em .NET, controle de versionamento GIT, SNV, TFS, api RESTful e SOAP, windows service, asp.net core, entity framework, c#, vb.net, asp clássico, web forms, mvc, Razor, React js, javascript, PHP, sql server, mysql server, oracle DB.</p></li>
                    </ul>
                </dd>
                <dt><b>FORMAÇÃO ACADÊMICA</b></dt>
                <dd>
                    <ul type="circle">
                        <li><b>Curso:</b> Tecnologia em Análise e Desenvolvimento de Sistemas</li>
                    </ul>
                    <ul type="none">
                        <li>    
                            <ul type="disc">
                                <li><b>Instituição:</b> Centro Universitário Uninter - Curitiba/PR</li>
                                <li><b>Ano de conclusão:</b> 2014</li>
                            </ul>
                        </li>
                    </ul>
                </dd>
                <dt><b>EXPERIÊNCIA PROFISSIONAL</b></dt>
                <dd>
                    <ul type="circle">
                        <li><b>Mannesoft Informática</b></li>
                    </ul>
                    <ul type="none">
                        <li>    
                            <ul type="disc">
                                <li><b>Cargo atual:</b> Desenvolvedor Pleno</li>
                                <li><b>Período de atuação:</b> setembro/2021 até o momento - Curitiba/PR</li>
                                <li><b>Funções:</b> Desenvolvimento e sustentação de sistemas de gestão educacional em PHP com base de dados Oracle.</li>
                            </ul>
                        </li>
                    </ul>
                    <ul type="circle">
                        <li><b>Econet editora empresarial</b></li>
                    </ul>
                    <ul type="none">
                        <li>    
                            <ul type="disc">
                                <li><b>Cargo Atual:</b> Desenvolvedor .NET Pleno</li>
                                <li><b>Período de atuação:</b> Outubro/2019 até Outubro/2021 - Curitiba/PR</li>
                                <li><b>Funções:</b> Análise, desenvolvimento, monitoramento e sustentação de projetos e demandas do cliente em ambiente web, serviços windows e web scraping.</li>
                                <li align="justify"><b>Tecnologias utilizadas:</b> ASP.NET Core 2.1, .NET Entity Framework 4.6.1, padrão Repository, python (tokenização de texto com NLP e NLTK e web scraping utilizando selenium), ferramentas AWS (elastic beanstalk, lambda functions, RDS, S3), Versionamento em GIT, React js, Angular js, Web Api, api RestFul.</li>
                            </ul>
                        </li>
                    </ul>
                    <ul type="circle">
                        <li><b>Junto Seguros:</b> terceirizado pela Regazzo Soluções em tecnologia.</li>
                    </ul>
                    <ul type="none">
                        <li>    
                            <ul type="disc">
                                <li><b>Cargo:</b> Analista de desenvolvimento Jr.</li>
                                <li><b>Período de atuação:</b> Fevereiro/2019 a Outubro/2019 - Curitiba/PR</li>
                                <li><b>Funções:</b> Análise, desenvolvimento, monitoramento e sustentação de projetos e demandas do cliente em ambiente web.</li>
                                <li align="justify"><b>Tecnologias utilizadas:</b> ASP.NET C#, Web Forms, MVC, VB.NET, ASP clássico, Entity Framework, Linq To SQL, Lambda, ADO.NET, Web API (soap), api RESTful, Javascript, Jquery, Ajax, HTML, MS SQL Server, report server, SVN, TFS, Github</li>
                            </ul>
                        </li>
                    </ul>
                    <ul type="circle">
                        <li><b>FACULDADE FAEL:</b> Instituição de ensino superior a Distância (EAD).</li>
                    </ul>
                    <ul type="none">
                        <li>    
                            <ul type="disc">
                                <li><b>Cargo:</b> Analista de sistemas</li>
                                <li><b>Período de atuação:</b> Novembro/2016 a Setembro/2017 - Curitiba/PR</li>
                                <li><b>Funções:</b> Análise, desenvolvimento, monitoramento e sustentação de projetos e demandas de processos internos como sistemas customizados, portais e intranet. Participação no desenvolvimento e na análise e levantamento de requisitos, auxílio em análise de  viabilidade, negociação de escopo e cronograma, controle de qualidade de código, programação web, programação em base de dados e controle de versionamento dos sistemas.</li>
                                <li align="justify"><b>Tecnologias utilizadas:</b> ASP.NET Web Forms C# e VB.NET, ASP clássico,  Entity Framework, Linq to SQL, Lambda,  ADO.NET, Web API (soap), JavaScript, Jquery, Ajax, HTML, MS SQL Server, report server, SVN, TFS, Github.</li>
                            </ul>
                        </li>
                    </ul>
                    <ul type="circle">
                        <li><b>UNIVERSIDADE POSITIVO:</b> Instituição de ensino superior.</li>
                    </ul>
                    <ul type="none">
                        <li>    
                            <ul type="disc">
                                <li><b>Cargo:</b> Programador (Temporário)</li>
                                <li><b>Período:</b> Março/2015 a Setembro/2015 - Curitiba/PR</li>
                                <li><b>Funções:</b> Atuação no desenvolvimento de projeto com escopo fechado voltado ao vestibular da universidade.</li>
                                <li align="justify"><b>Tecnologias utilizadas:</b> ASP.NET C#, Entity Framework, Padrão Unit of work, Web Forms, Web API (soap), API RESTful, MVC, Linq To Sql, Lambda, ADO.NET, javascript, Jquery, Ajax, Html e MS SQL Server, SVN, TFS.</li>
                            </ul>
                        </li>
                    </ul>
                </dd>

                <dt><b>OBSERVAÇÕES FINAIS</b></dt>
                <dd><p>Este site foi desenvolvido em Ruby on Rails com Docker, versionado no github e está sendo preparado para ser disponibilizado via CircleCI.</p></dd>
                <dd><b>Checkout on:</b> <a target="_blank" href="https://github.com/eltonjean/portfolio" >https://github.com/eltonjean/portfolio</a></dd>
            </dl>
        </td>
    <tr>
</table>
